<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('app.css')}}"/>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="menu">
            <a class="homepage-link" href="{{ path('homepage')}}">App</a>
            <div class="links">
                <a href="{{ path('user_list')}}"
                    {% if app.request.get('_route') starts with 'user' %}class="current"{% endif %}>
                    <i class="fas fa-users"></i>
                    Użytkownicy
                </a>
                <a href="{{ path('product_list')}}"
                    {% if app.request.get('_route') starts with 'product' %}class="current"{% endif %}>
                    <i class="fas fa-boxes-stacked"></i>
                    Produkty
                </a>
                <a href="{{ path('like_list')}}"
                    {% if app.request.get('_route') starts with 'like' %}class="current"{% endif %}>
                    <i class="fas fa-thumbs-up"></i>
                    Polubienia
                </a>
            </div>
        </div>
        <div class="content">
            <div class="topnav"></div>
            <div class="container">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="card">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
